.playerBox {
    display: grid;
    grid-template-rows: 2.5% 80% 8.75% 8.75%;
    grid-template-columns: 100%;
    width: 100%;
    height: 90%;
    border: 1px solid white;
}
.playerCardList {
    display: flex;
    height: 100%;
    position: relative;
}

.player1 .player2 .player3 .player4 {
    margin-bottom: 20%;
    height: 100%;
}

.player1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.player2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.player3 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}
.player4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.preTradePlayerBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    border: 1px solid white;
}

.preTradesCol {
    display: flex;
    row-gap: 0.25%;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 100%
}

.preTradeCardList {
    display: flex;
    height: 40%;
    position: relative;
}

.tradingCardSlots {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    /*justify-content: center;*/
    /*align-items: center;*/
}

.tradingCardSlot {
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    /*justify-content: center;*/
    align-items: center;
    margin-left: 3%;
    width: 100%;
    height: 100%;
}

.gameboardPreTradesStyle {
    width: 100%;
    height: 95%;
    display: flex;
    column-gap: 0.25%;
    flex-direction: row;
    overflow: hidden;
}

.tradePhaseButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tradePhaseButton {
    width: 35%;
}

.inactiveButton {
    width: 35%;
    opacity: 0.5;
}

.inactiveButton:active {
    border-style: outset;
}

.gameboardStyle {
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-rows: 32.5% 32.5% 32.5%;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    overflow: hidden;
}
.tableStyle {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.disabledButton {
    opacity: 0.5;
}

.playerIDSpan {
    padding-left: 2%;
}

.selectionBoxStyle {
    display: flex;
    width: 100%;
    height: min-content;
    overflow: visible;
}
.selectionButtonStyle {
    overflow: visible;
}

.selection1 {
    position: absolute;
    top: 0%;
    left: 14%;
    width: 15%;
    height: 100%;
}
.selection2 {
    position: absolute;
    top: 0%;
    left: 30%;
    width: 15%;
    height: 100%;
}

.tableBox {
    border: 1px solid white;
    width: 100%;
    height: 90%;
}
.tableCardList {            
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

.dragonSelection {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
}

.requestedCardTable {
    padding-left: 2%;
}

.scoreboardEntry {
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 28.75%;
    background-color: rgb(112, 111, 111);
    text-decoration: none;
    outline: none;
    border: none;
    font-size: large;
}

.scoreboardMainEntry {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items:center;
    text-align: center;
    column-gap: 30%;
    background-color: rgb(80, 80, 80);
    text-decoration: none;
    outline: none;
    border: none;
    font-size: xx-large;
}

.innerScore {
    width: 5%;
    text-align: center;
}

.mainScore {
    display: flex;
    flex-flow: column;
}

.gameContainer {
    width: 100%;
    height: 100%;
    display: grid;    
    row-gap: 2%;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}
